.page-about {
    h2 {
        font-size: 40px;
        font-weight: 300;
    }

    .intro {
        margin: 20px 0 70px;
    }

    .info-container {
        .desc {
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 20px;
        }
    }

}
