.non-display {
    display: none;
}

.page {
    padding: 15px;
    height: 100%;
}

.page-form-ele {
    h3 {
        margin: 0;
    }
}
.row {
  margin-bottom: 25px;
}
.panel {
  background-color: transparent;
  border: 1px solid transparent;

  .panel-heading {
    background-color: rgba(255,255,255,0.8);
  }
  .panel-body {
    background-color: rgba(255,255,255,0.8);
  }
}
