<div class="page">

  <!-- stats -->
  <div class="row">
    <div class="col-lg-3 col-xsm-6">
      <div class="tiles white ">
        <div class="tiles-body">
          <div class="tiles-title"> LAST MEASUREMENT DATE</div>
          <div class="heading">
            <span class="animate-number" data-value="75" data-animation-duration="1000">December 8, 2014</span>
          </div>
          <div class="progress transparent progress-small no-radius">
            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="75%" style="width: 75%;"></div>
          </div>
          <div class="description"><i class="fa fa-bar-chart-o"></i><span class="text-white mini-description ">&nbsp; 1 measurement <span class="blend">remaining this year</span></span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
      <div class="tiles white ">
        <a href="#">
          <div class="tiles-body">
            <div class="tiles-title">
              CURRENT BODY FAT
              <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="heading">
              <span class="animate-number" data-value="21.5" data-animation-duration="1000">21.5</span>%
            </div>
            <div class="progress transparent progress-small no-radius">
              <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="21.5%" style="width: 21%;"></div>
            </div>
            <div class="description">
              <i class="fa fa-arrow-circle-o-down"></i><span class="mini-description ">&nbsp; 2% lower <span class="blend">than last measurement</span></span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-xsm-6">
      <section class="panel panel-default" data-ng-controller="morrisChartCtrl">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Measurement Trends</div>
        <div class="panel-body">
          <div morris-chart
               data-data="yearlyMeasurements"
               data-type="line"
               data-xkey="date"
               data-ykeys='["bodyfat"]'
               data-labels='["bodyfat"]'
               data-bar-colors='["#CA3434"]'
            ></div>
        </div>
      </section>
    </div>

  </div>
  <!-- end stats -->

  <div class="row">
    <div class="col-md-6">

    </div>

  </div>

</div>
