<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- begin: header row -->
    <div class="row">

    </div>
    <!-- end: header row -->

    <div class="row">

      <div class="col-lg-8 col-xsm-12">
      1
      </div>
      <div class="col-lg-4 col-xsm-12">

          <!-- begin: my body widget -->
          <section class="panel panel-default" data-ng-controller="MeasurementsCtrl">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-th"></span> My Body
            </div>
            <div class="panel-body">
              <c3-chart id="chart" config="chartBodyFatGauge"></c3-chart>
            </div>
          </section>
          <!-- begin: my body widget -->

          <!-- begin: my workout widget -->
          <section class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-th"></span> My Workouts
            </div>
            <div class="panel-body">
              Pie chart of pounds of fat vs. muscle
              Current body fat
            </div>
          </section>
          <!-- begin: my workouts widget -->

          <!-- begin: my goals widget -->
          <section class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-th"></span> My Goals
            </div>
            <div class="panel-body">
              Pie chart of pounds of fat vs. muscle
              Current body fat
            </div>
          </section>
          <!-- begin: my goals widget -->

      </div>
    </div>

</div>
