

    <div ng-controller="MeasurementCtrl">

      <h3>Client Charts</h3>
      <c3-chart id="chart" config="chartBodyFatGauge"></c3-chart>
      <c3-chart id="chart2" config="chartBodyFatSpline"></c3-chart>

      <label for="">
        Search for athlete:
      </label><input type="text" ng-model="searchText"/>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Body Fat (%)</th>
            <th>Chest</th>
          </tr>
        </thead>
        <tr ng-repeat="person in clientResults | filter:searchText | orderBy:'LastName'">
          <td>{{ person.Date }}</td>
          <td>{{ person.FirstName }}</td>
          <td>{{ person.LastName}}</td>
          <td>{{ person.BF | number:1 }} </td>
          <td>{{ person.CH | number:1 }}</td>
        </tr>
      </table>
      <button>Upload</button>


    </div>
