
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
        <li><a href="#/pages/measurements"><i class="fa fa-bar-chart-o"></i><span>Measurements</span></a></li>
        <li class="nav-task">
            <a href="#/goals">
                <i class="fa fa-tasks"></i><span data-i18n="Goals"></span>
                <span class="badge badge-info main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
    </ul>
</div>
